*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;

}
body{
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.content-area{
    margin-left: 225px;
    max-height: 100%;
    height: 100%;
}

.side-menu{
    position: fixed;
    background-color: black;
    width: 300px;
    height: 100%;
    box-sizing: boreder-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
}

.side-menu .website-title{
    color: gray;
    font-size: 12px;
    position: relative;
    display: block;
    padding-bottom: 20px;
    margin-top: -15px;
}

.side-menu.inactive{
    width: 40px;
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.side-menu .top-section .logo img{
   max-width: 100%; 
   max-height: 100%;
}

.side-menu .top-section .toggle-button{
    color: lightgray;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-button{
    right: -50px;
}

.side-menu .search-controller{
    color:#fff; 
    position: relative;
}


.side-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
    top: 50%;
    transform: translateY(-50%);
}

.side-menu .search-controller input[type=text]{
    border: 0;
    outline: none;
    height: 35px;
    background: #333;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    color: #666
}

.side-menu .server-list .server-item{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .server-list .server-item:hover {
    background: lightgray;
    border-radius: 5px;
    color: #333;
}

.side-menu .server-list .server-item.active{
    background: #666;
    border-radius: 5px;
    color: #333;
}

.side-menu .server-list{
    margin: 5px 0;
}



.side-menu .server-list .server-item .sever-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

}

.side-menu .server-list .server-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.side-menu.inactive .server-list .server-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu .divider{
    width: 100%;
    border-top: 1px solid white;
}   

.out-arrow{
    color:black;
}

.container{
    margin-left: 350px;
    transition: margin-left .2s ease-in;
}

.container.inactive{
    margin-left: 80px;
}
<<<<<<< Updated upstream
=======

.friends-menu{
    position: fixed;
    background-color: #292828;
    color: white;
    width: 225px;
    height: 100%;
}

.friends-menu .top-section{
    position: relative;
    top: -10px;
}

.friends-menu .search-controller{
    color:#fff; 
    position: relative;
    padding-left: 10px;
}


.friends-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
    top: 50%;
    transform: translateY(-50%);
}

.friends-menu .search-controller input[type=text]{
    border: 30px;
    outline: none;
    height: 35px;
    background: #333;
    border-radius: 10px;
    display: block;
    margin: 20px 0;
    width: 95%;
    box-sizing: border-box;
    padding-left: 40px;
    color: #eee
    
}

.friends-menu .divider{
    position: relative;
    top: -26px;
    width: 99%;
    border-top: 1px solid black;
}

.friends-menu .friends-list .friends-item{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.friends-menu .friends-list .friends-item:hover {
    background: lightgray;
    border-radius: 5px;
    color: #333;
}

.friends-menu .friends-list .friends-item.active{
    background: #666;
    border-radius: 5px;
    color: #333;
}

.friends-menu .friends-list{
    margin: 5px 0;
}



.friends-menu .friends-list .friends-item .friends-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

}

.friends-menu .friends-list .friends-item span{
    position: relative;
    display: inline-block;
    line-height: 40px;
}

.friends-menu .friends-list .friends-item .friends-logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.friends-menu .friends-list .direct-message{
    padding-top: 3px;
}

.friends-menu .friends-list .direct-message span{
    color:#666;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 80px;
}

.friends-menu .friends-list .direct-message span:hover{
    color:white;
    cursor: default;
}

.friends-menu .friends-list .direct-message .add-friend-button{
    font-size: 12px;
}

.friends-menu .friends-list .direct-message .add-friend-button:hover{
    cursor: pointer;
}

.friends-menu .friends-list ul{
    padding-top: 5px;
}


.friends-menu-footer{
    width: 100%;
    height: 60px;
    background: #333;
    position: absolute; 
    bottom: 0;
    right: 0;
    padding:20px;
    box-sizing: border-box;
    display: inline-block;
}

.friends-menu-footer .avatar{
    width:25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.friends-menu-footer .avatar img{
    max-width: 100%;
}

.friends-menu-footer .user-info{
    position: absolute;
    color: white;
    margin: 10px;
    top: 15px;
    left: 40px;
}

.friends-menu-footer .user-info h5{
    font-size: 10px;
    opacity: 1;
}

.friends-menu-footer .user-visibilty h5{
    font-size: 10px;
    opacity: 1;
}

.friends-menu-footer .user-visibilty{
    position: absolute;
    color: grey;
    margin: 10px;
    top: 27px;
    left: 40px;
}

.friends-menu-footer .username-selection:hover{
    background-color: #666;
}

.friends-menu-footer .username-selection{
    float: left;
    width: 45%;
    overflow: hidden;
    padding-right: 35px;
}

.friends-menu-footer .options-selection{
    float: right;
    width: 40%;
}

.friends-menu-footer button{
    background: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    margin: 0px 1px;
}

.friends-menu-footer button:hover{
    cursor: pointer;
    color:lightgray;
}


.friends-header{
    width: 100%;
    background: #333;
    height: 50px;
    color: white;
}

.friends-header .active-friend-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    padding-top: 5px;
    color:lightgray;
}

.friends-header span{
    position: absolute;
    top: 15px;
}

.friends-header .vertical-divider{
    border-left: 1px solid grey;
    height: 30px;
    position: relative;
    left: 125px;
    top: -35px;
}

.friends-header .friends-toggler{
    position: absolute;
    top: 15px;
    text-decoration: none;
}



.friends-header .friends-toggler .friends-online{
    position: absolute;
    left: 150px;
    text-decoration: none;
    color: white;
    height: 35px;
    width: 60px;
    top: -5px;
    line-height: 30px;
    text-align: center;
    align-items: center;
}

.friends-header .friends-toggler .friends-all{
    position: absolute;
    left: 220px;
    text-decoration: none;
    color: white;
    height: 30px;
    width: 30px;
    top: -5px;
    line-height: 30px;
    text-align: center;
    align-items: center;
}

.friends-header .friends-toggler .friends-pending{
    position: absolute;
    left: 270px;
    text-decoration: none;
    color: white;
    height: 35px;
    width: 70px;
    top: -5px;
    line-height: 30px;
    text-align: center;
    align-items: center;
}

.friends-header .friends-toggler .friends-blocked{
    position: absolute;
    left: 355px;
    text-decoration: none;
    color: white;
    height: 35px;
    width: 70px;
    top: -5px;
    line-height: 30px;
    text-align: center;
    align-items: center;
}

.friends-header .friends-option:hover{
    background: lightgray;
    border-radius: 5px;
    color: #333;
}

.friends-header .friends-option.active{
    background: #666;
    border-radius: 5px;
    color: #333;
}

.friends-header .friends-toggler .add-friend{
    position: absolute;
    left: 435px;
    color: white;
    width: 100px;
    background-color: green;
    height: 30px;
    text-decoration: none;
    border: green;
    border-radius: 5px;
    top: -5px;
    font-size: 15px;
}

.friends-header .friends-toggler .add-friend:hover{
    cursor: pointer;
}

.friends-content-area{
    position: fixed;
    background: #444;
    width: 100%;
    height: 100%;
    border: 3px black;
    color: white;
}

.online-friend-list{
    min-width: 90%;
    padding-left: 30px;

}

.online-friend-list .friend-search-bar{
    width: 100%;
    padding-top: 10px;
    color:#fff; 
    position: relative;
}

.online-friend-list .friend-search-bar input[type=text]{
    border: 0;
    outline: none;
    height: 35px;
    background: #333;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    width: 80%;
    box-sizing: border-box;
    padding-left: 40px;
    color: #666
}

.online-friend-list .friend-search-bar .friend-search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
    top: 50%;
    transform: translateY(-10%);
}

.online-friend-list .display-online-friends{
    padding-top: 10px;
}
.online-friend-list .display-online-friends .num-online-friends{
    font-size: 12px;
    padding-bottom: 15px;
}

.horizontal-divider{
    width: 80%;
    border-top: 1px solid white;
    padding-top: 10px;
}

.online-friend-list .display-online-friends .online-list{
    min-width: 100%;
    width: 100%;
}

.online-friend-list .display-online-friends .online-list .friends-item{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
}


.online-friend-list .display-online-friends .online-list .friend-item .friends-avatar{
    width:45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;

}

.online-friend-list .display-online-friends .online-list .friend-item .friends-avatar img{
    max-width: 100%;

}

.online-friend-list .display-online-friends .online-list a{
    text-decoration: none;
    color: white;
    width: 100%;
}

.online-friend-list .display-online-friends .online-list .friend-item{
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 100%;
}

.online-friend-list .display-online-friends .online-list .friend-item span{
    display: inline-block;
    padding-left: 10px;
}


.online-friend-list .display-online-friends .online-list .friend-item .friends-moto{
    display: inline-flex;
    color:#999;
    font-size: 12px;
    transform: translateY(-40%);
}


.online-friend-list .display-online-friends .online-list .friend-item .friends-option-btns{
    color:white;
    font-size: 20px;
    transform: translateY(-130%);
    position: fixed;
    display: flex;
    right: 20px;
}
>>>>>>> Stashed changes
